services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: book-club-be-dev
    command: ['bun', '--hot', 'src/main.ts']
    working_dir: /usr/src/app
    volumes:
      - ./src:/usr/src/app/src
      - ./prisma:/usr/src/app/prisma
    env_file:
      - .env
    ports:
      - '3000:3000'
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: book-club-db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: bookclubdb
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
